/*body*/

body{
background-color: #e5b0ea;

}

/*titulo*/

h1{
  text-align: center;
  font-family: Arial;
  padding: 10px;
  color: white;
  font-weight: bold;
}

/*navbar*/

.bg-mia{
  background-color: #bd83ce;
  font-family: arial;
}

.form-inline{
text-align: center;

}


.menu-nav ul{
list-style: none;
margin: 0;
padding: 0;

}

.menu-nav ul li {
  display: inline-block;
}
